{% extends "partials/layout.html" %}
{% load crispy_forms_tags %}

{% block preloader %}
    {% include "partials/preloader.html" %}
{% endblock preloader %}

{% block header %}
    {% include "partials/header.html" %}
{% endblock header %}

{% block heroarea %}
    {% include "partials/heroarea.html" %}
{% endblock heroarea %}


{% block topnews %}
<form action="POST">
    {% csrf_token %}
    <div class="col-md-3" style="align-items:center;">
        {{ form|crispy }}
        <button type="submit"class="btn btn-secondary">Login</button>>
    </div>
</form>
{% endblock topnews %}


{% block footer %}
    {% include "partials/footer.html" %}
{% endblock footer %} 

{% block scripts %}
    {% include "partials/scripts.html" %}
{% endblock scripts %}